:root{
  --bg:#15161d;
  --bgSecondary: #3c3c3c;
  --text: whitesmoke;
  --logoText: #bfc8c0;
  --logoNav: rgb(32, 33, 41);
  --logoBg:#272639;
  --linkBorder:#ccc;
}
body{
  margin: 0%;
  padding: 0%;
  background-color: var(--bg);
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--text);
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
.Logo {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: var(--logoNav);
  height: 8rem;
}
